<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readtrace">
        <activity
            android:name=".AnimeTimelineScrollActivity"
            android:exported="false" />
        <activity
            android:name=".CoverGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ResonancePosterActivity"
            android:exported="false" />
        <activity
            android:name=".MindprintConstellationActivity"
            android:exported="false" />
        <activity
            android:name=".QuotePosterActivity"
            android:exported="false" />
        <activity
            android:name=".ReadingTimerActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".community.ui.PublishExhibitionActivity"
            android:exported="false" />
        <activity
            android:name=".community.ui.ExhibitionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".community.ui.CommunityGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".community.ui.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".reader.Book3DReaderActivity"
            android:exported="false" />
        <activity
            android:name=".Gallery3DActivity"
            android:exported="false" />
        <activity
            android:name=".BackupActivity"
            android:exported="false" />
        <activity
            android:name=".BadgesActivity"
            android:exported="false" />
        <activity
            android:name=".TrashActivity"
            android:exported="false" />
        <activity
            android:name=".FlipNotesActivity"
            android:exported="false" />
        <activity
            android:name=".BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2x2 灵感金句与打卡小组件 -->
        <receiver
            android:name=".widget.DailyQuoteWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_daily_quote_info" />
        </receiver>

        <!-- 4x2 全息心智看板小组件 -->
        <receiver
            android:name=".widget.MindprintDashboardWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mindprint_dashboard_info" />
        </receiver>
    </application>

</manifest>
